# Week 2 - Let's get classifying

In this session, we will try to get some classifiers running. If time permits, we will do a bit more complex example as well

## Step 0 - Library and imports, as always
We will make the essential imports. Further imports will be done later

In [23]:
import sys
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random
import matplotlib.pyplot as plt
import seaborn as sns
import sys


#Ignore Warnings - save some confusion
import warnings
warnings.filterwarnings('ignore')

#Pandas more columns
pd.options.display.max_columns = None
pd.set_option('display.max_columns', None)

# Add input as import path
sys.path.insert(0,'../input')

# Plot style
plt.style.use('fivethirtyeight')

# Import the data from the dataset
train_data = pd.read_csv('../input/train.csv',index_col='id')
test_data = pd.read_csv('../input/test.csv',index_col='id')

train_data.sort_index()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
id,,,,,,,,,,,,,,
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
22,1,1,"Behr, Mr. Karl Howell",male,26.0000,0,0,111369,30.0000,C148,C,5,NaN,"New York, NY"
24,1,1,"Bird, Miss. Ellen",female,29.0000,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1,0,"Birnbaum, Mr. Jakob",male,25.0000,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
30,1,0,"Blackwell, Mr. Stephen Weart",male,45.0000,0,0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
32,1,1,"Bonnell, Miss. Caroline",female,30.0000,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
33,1,1,"Bonnell, Miss. Elizabeth",female,58.0000,0,0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
34,1,0,"Borebank, Mr. John James",male,42.0000,0,0,110489,26.5500,D22,S,NaN,NaN,"London / Winnipeg, MB"
35,1,1,"Bowen, Miss. Grace Scott",female,45.0000,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
38,1,0,"Brady, Mr. John Bertram",male,41.0000,0,0,113054,30.5000,A21,S,NaN,NaN,"Pomeroy, WA"
39,1,0,"Brandeis, Mr. Emil",male,48.0000,0,0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
41,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0000,0,0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
42,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0000,2,0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0000,0,0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
45,1,0,"Butt, Major. Archibald Willingham",male,45.0000,0,0,113050,26.5500,B38,S,NaN,NaN,"Washington, DC"
46,1,0,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,NaN,NaN,NaN
52,1,0,"Carrau, Mr. Francisco M",male,28.0000,0,0,113059,47.1000,NaN,S,NaN,NaN,"Montevideo, Uruguay"
53,1,0,"Carrau, Mr. Jose Pedro",male,17.0000,0,0,113059,47.1000,NaN,S,NaN,NaN,"Montevideo, Uruguay"
56,1,1,"Carter, Mr. William Ernest",male,36.0000,1,2,113760,120.0000,B96 B98,S,C,NaN,"Bryn Mawr, PA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1238,3,1,"Tenglin, Mr. Gunnar Isidor",male,25.0000,0,0,350033,7.7958,NaN,S,13 15,NaN,NaN
1240,3,1,"Thomas, Master. Assad Alexander",male,0.4167,0,1,2625,8.5167,NaN,C,16,NaN,NaN
1241,3,0,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C,NaN,NaN,NaN
1245,3,0,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S,NaN,NaN,NaN
1246,3,0,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S,NaN,NaN,NaN
1247,3,1,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S,10,NaN,NaN
1254,3,1,"Tornquist, Mr. William Henry",male,25.0000,0,0,LINE,0.0000,NaN,S,15,NaN,NaN
1255,3,0,"Toufik, Mr. Nakli",male,NaN,0,0,2641,7.2292,NaN,C,NaN,NaN,NaN
1256,3,1,"Touma, Master. Georges Youssef",male,7.0000,1,1,2650,15.2458,NaN,C,C,NaN,NaN
1265,3,0,"Van Impe, Miss. Catharina",female,10.0000,0,2,345773,24.1500,NaN,S,NaN,NaN,NaN
1267,3,0,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0000,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN
1268,3,0,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,NaN,NaN,NaN
1270,3,0,"Vande Walle, Mr. Nestor Cyriel",male,28.0000,0,0,345770,9.5000,NaN,S,NaN,NaN,NaN
1271,3,0,"Vanden Steen, Mr. Leo Peter",male,28.0000,0,0,345783,9.5000,NaN,S,NaN,NaN,NaN
1274,3,0,"Vander Planke, Mr. Julius",male,31.0000,3,0,345763,18.0000,NaN,S,NaN,NaN,NaN
1278,3,0,"Vendel, Mr. Olof Edvin",male,20.0000,0,0,350416,7.8542,NaN,S,NaN,NaN,NaN
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0000,0,0,350406,7.8542,NaN,S,NaN,NaN,NaN
1282,3,0,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,NaN,NaN,NaN
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0,0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1,0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0,0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3,0,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1296,3,0,"Wirz, Mr. Albert",male,27.0000,0,0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3,0,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3,0,"Wittevrongel, Mr. Camille",male,36.0000,0,0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3,0,"Yasbeck, Mr. Antoni",male,27.0000,1,0,2659,14.4542,NaN,C,C,NaN,NaN
1302,3,0,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN

## Step 1 - Getting our input ready
Oops, we spoke too soon. Before we can think of classifying, we got to make sure our inputs are the way we would like them

### MiniStep 1 - Feature Transforms
What we would like to be doing here is to take existing features, and simplify them. Not still thinking about inputting missing features, or to normalize/quantify them.

Questions:
* Q1: What does the simplify_fares() method?
* Q2: Why we drop some features?

In [24]:
def simplify_fares(df):
    df.fare = df.fare.fillna(-0.5)
    bins = (-1, 0, 8, 15, 31, 1000)
    group_names = ['Unknown', '1_quartile', '2_quartile', '3_quartile', '4_quartile']
    categories = pd.cut(df.fare, bins, labels=group_names)
    df.fare = categories
    return df

def simplify_cabins(df):
    df.cabin = df.cabin.fillna('N')
    df.cabin = df.cabin.apply(lambda x: x[0])
    return df


def format_name(df):
    df['lname'] = df.name.apply(lambda x: x.split(' ')[0])
    df['lname'].fillna(' ')
    df['nameprefix'] = df.name.apply(lambda x: x.split(' ')[1])
    df['nameprefix'].fillna(' ')
    return df


def drop_features(df):
    return df.drop(['ticket', 'name', 'embarked', 'home.dest', 'body', 'boat'], axis=1)

def transform_features(df):
    df = simplify_fares(df)
    df = simplify_cabins(df)
    df = format_name(df)
    df = drop_features(df)
    return df


train_data = transform_features(train_data)
test_data  = transform_features(test_data)
print(train_data[0:10])

      pclass  survived     sex   age  sibsp  parch        fare cabin  \
id
277        1         1  female   NaN      1      0  4_quartile     B
562        2         1  female  30.0      0      0  2_quartile     N
111        1         1  female  24.0      3      2  4_quartile     C
930        3         0    male   NaN      1      0  1_quartile     N
841        3         0  female  17.0      0      0  1_quartile     N
585        2         0    male  27.0      1      0  3_quartile     N
609        3         0    male  26.0      0      0  2_quartile     N
540        2         1  female   2.0      1      1  3_quartile     N
1075       3         0    male  23.0      0      0  2_quartile     N
390        2         0    male  17.0      0      0  4_quartile     N

          lname nameprefix
id
277    Spencer,       Mrs.
562    Slayter,      Miss.
111    Fortune,      Miss.
930    Kiernan,        Mr.
841   Hagardon,      Miss.
585      Weisz,        Mr.
609      Adams,        Mr.
540      Quick,      Miss.
1075     Odahl,        Mr.
390     Deacon,        Mr.

### MiniStep 2 - Feature Encoding 
Our next step is to take existing features which possibly have text to convert them into numbers. 
**Categorical->Numerical**
In our previous sessions, we saw how to do it manually. 
Here, we will use the awesome scikit-learn library

Questions:
* Q1: Why we need to encode our features?
* Q2: All the classifiers needs encoding?

In [25]:
from sklearn import preprocessing
def encode_features(df_train, df_test):
    features = ['fare', 'cabin', 'sex', 'lname', 'nameprefix']
    df_combined = pd.concat([df_train[features], df_test[features]])

    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[feature])
        df_train[feature] = le.transform(df_train[feature])
        df_test[feature] = le.transform(df_test[feature])
    return df_train, df_test

train_data, test_data = encode_features(train_data, test_data)
print(train_data[0:10])

      pclass  survived  sex   age  sibsp  parch  fare  cabin  lname  \
id
277        1         1    0   NaN      1      0     3      1    755
562        2         1    0  30.0      0      0     1      7    741
111        1         1    0  24.0      3      2     3      2    257
930        3         0    1   NaN      1      0     0      7    406
841        3         0    0  17.0      0      0     0      7    303
585        2         0    1  27.0      1      0     2      7    830
609        3         0    1  26.0      0      0     1      7      7
540        2         1    0   2.0      1      1     2      7    652
1075       3         0    1  23.0      0      0     1      7    591
390        2         0    1  17.0      0      0     3      7    198

      nameprefix
id
277           20
562           16
111           16
930           19
841           16
585           19
609           19
540           16
1075          19
390           19

### MiniStep 3 - Missing Data!

Here, we use sklearn's imputer to directly fill in missing data

ToDo:
* Find the different strategies that are avaible in the Imputer class.

Questions:
* Q1: Which is the strategy that get best results in terms of accuracy?

In [26]:
def fill_missing_data(df_train,df_test):
    features = ['age']
    df_combined = pd.concat([df_train[features], df_test[features]])
    df_imputer = preprocessing.Imputer()
    df_imputer.fit(df_combined[features])
    df_train[features] = df_imputer.transform(df_train[features])
    df_test[features] = df_imputer.transform(df_test[features])
    return df_train, df_test

train_data,test_data = fill_missing_data(train_data,test_data)
print(train_data)

      pclass  survived  sex        age  sibsp  parch  fare  cabin  lname  \
id
277        1         1    0  29.881135      1      0     3      1    755
562        2         1    0  30.000000      0      0     1      7    741
111        1         1    0  24.000000      3      2     3      2    257
930        3         0    1  29.881135      1      0     0      7    406
841        3         0    0  17.000000      0      0     0      7    303
585        2         0    1  27.000000      1      0     2      7    830
609        3         0    1  26.000000      0      0     1      7      7
540        2         1    0   2.000000      1      1     2      7    652
1075       3         0    1  23.000000      0      0     1      7    591
390        2         0    1  17.000000      0      0     3      7    198
921        3         0    1  29.881135      0      0     0      7    399
339        2         1    1   1.000000      2      1     3      5     66
155        1         1    0  52.000000      1      1     3      1    323
564        2         1    0  40.000000      0      0     1      7    747
694        3         0    1  19.000000      0      0     0      7    108
1028       3         1    0  29.881135      1      0     2      7    538
1184       3         0    1  29.881135      2      0     2      7    706
633        3         0    1  20.000000      0      0     0      7     22
907        3         0    0  20.000000      1      0     1      7    388
426        2         0    1  30.000000      0      0     1      7    306
1210       3         0    1  40.000000      1      4     2      7    739
257        1         1    0  35.000000      1      0     3      2    712
474        2         0    1  31.000000      0      0     1      7    418
439        2         0    1  49.000000      1      2     3      7    335
9          1         0    1  71.000000      0      0     3      7     30
948        3         0    1  29.881135      0      0     0      7    426
762        3         1    1   1.000000      1      2     2      7    199
802        3         0    1  29.881135      0      0     0      7    252
482        2         1    0  17.000000      0      0     1      7    435
893        3         0    1  29.000000      0      0     0      7    381
...      ...       ...  ...        ...    ...    ...   ...    ...    ...
408        2         0    1  18.000000      0      0     1      7    247
87         1         1    1  27.000000      0      0     2      7    190
810        3         0    1  16.000000      1      3     3      7    255
276        1         0    1  57.000000      1      0     3      1    755
751        3         0    1  25.000000      0      0     0      7    193
550        2         1    0  24.000000      2      3     2      7    666
231        1         1    1  52.000000      0      0     2      2    641
879        3         0    1  29.881135      0      0     0      7    367
896        3         0    1  49.000000      0      0     4      7    382
835        3         0    1  29.881135      0      0     1      7    299
752        3         0    1  24.000000      2      0     2      7    195
984        3         1    0  29.881135      0      0     0      7    474
163        1         1    0  35.000000      1      0     3      7    349
1063       3         0    1  41.000000      0      0     0      7    573
29         1         1    1  28.000000      0      0     2      2     83
200        1         0    1  46.000000      0      0     3      2    499
285        1         0    1  67.000000      1      0     3      2    772
1267       3         0    0  30.000000      1      1     2      7    811
783        3         1    1  24.000000      0      0     0      7    226
1074       3         0    1  29.881135      0      0     0      7    584
1087       3         0    1  28.000000      0      0     0      7    595
982        3         0    1  29.881135      0      0     0      7    471
677        3         0    1  26.000000      0      0     0      7     88
977        3         0    1  20.500000      0      0     0      7    465
35         1         1    0  45.000000      0      0     3      7     92
626        3         0    0  38.000000      4      2     0      7     21
640        3         0    1   9.000000      4      2     3      7     33
845        3         1    0  24.000000      1      0     2      7    305
1291       3         0    1  29.881135      0      0     1      7    845
639        3         0    1   5.000000      4      2     3      7     33

      nameprefix
id
277           20
562           16
111           16
930           19
841           16
585           19
609           19
540           16
1075          19
390           19
921           19
339           13
155           20
564           16
694           19
1028          16
1184          19
633           19
907           16
426           19
1210          19
257           20
474           19
439           19
9             19
948           19
762           13
802           19
482           16
893           19
...          ...
408           19
87            19
810           19
276           19
751           19
550           20
231           12
879           19
896           19
835           19
752           19
984           16
163           20
1063          19
29            19
200           19
285           19
1267           9
783           19
1074          19
1087          19
982           19
677           19
977           19
35            16
626           16
640           13
845           20
1291          19
639           13

[654 rows x 10 columns]

### MiniStep 4  - Almost There!

Get X and Y. Once we get them, we will also scale them.

Questions:
* Q1: What means X and Y variables?
* Q2: Which dimensions has each variable?

In [27]:
def get_X_Y_pair(df):
    features = df.columns.values
    x_features = [f for f in features if f!='survived']
    return df[x_features], df['survived']

def scale_data(df_train, df_test):
    df_combine = pd.concat([df_train, df_test])
    features = df_train.columns.values
    scaler = preprocessing.StandardScaler()
    scaler.fit(df_combine)
    return scaler.transform(df_train), scaler.transform(df_test)

x_train, y_train = get_X_Y_pair(train_data)
x_test, y_test = get_X_Y_pair(test_data)

#not pandas after this
x_train, x_test = scale_data(x_train,x_test)
print(type(x_train), type(x_test))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

Now, we are done arranging the data. Time To run some sample classifiers and see how they work out

## Step 2 - Feed the classifier


### MiniStep 2.1 - Setting up a meta-classifier
Again, using scikit-learn, we have a great advantage here. Scikit-learn's classifiers come with a beautiful interface

```
Let's assume our classifier instance is clf
clf = ClassifierName(ClassifierParams=...) #Defaults are usually good enough in most cases
clf.fit (traindata, trainlabels) # Training
test_answers = clf.predict(testdata) # Testing

```

since it's so beautiful, lets create a meta function that would train on any training data, test on some given testing data, calculate the accuracy for titanic dataset and return it

ToDo:
* Search in the sklearn how to represent the decision trees using graphviz.

Questions:
* Q1: Which are the parameters that can improve the results (Perceptron)
* Q2: What is and how is computed the result of the feature_importances method (DecisionTreeClassifier)
* Q3: SVM try to modify the C parameter with values like 10^-3, 1, 10, 100, 10^3 (SVM)
* Q4: Ra

In [28]:
##Perceptron
from utils import accuracy_score_numpy
def train_test_accuracy(clf,x_train, y_train,x_test):
    clf.fit(x_train, y_train)
    y_test = clf.predict(x_test)
    perc = accuracy_score_numpy(y_test)
    return perc

from sklearn.linear_model import Perceptron
percep = Perceptron()
acc = train_test_accuracy(percep, x_train, y_train,x_test)
print("Accuracy for perceptron is  ", acc)

Accuracy for perceptron is   0.712977099237

In [29]:
##Decision Tree
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
acc = train_test_accuracy(dtree, x_train,y_train,x_test)
print("Accuracy for dtree is  ", acc)

Accuracy for dtree is   0.748091603053

In [30]:
##SVM
from sklearn.svm import LinearSVC
svm = LinearSVC()
acc = train_test_accuracy(dtree, x_train, y_train, x_test)
print("Accuracy for svm is  ", acc)

Accuracy for svm is   0.734351145038

In [35]:
##Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
acc = train_test_accuracy(rf, x_train, y_train, x_test)
print("Accuracy for RF is  ", acc)

##Random Forest - More trees
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=5000,n_jobs=2)
acc = train_test_accuracy(rf, x_train, y_train, x_test)
print("Accuracy for RF is  ", acc)

Accuracy for RF is   0.777099236641
Accuracy for RF is   0.786259541985