# Serialize Data

In [26]:
import sys
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random
import matplotlib.pyplot as plt
import seaborn as sns
import sys


#Ignore Warnings - save some confusion
import warnings
warnings.filterwarnings('ignore')

#Pandas more columns
pd.options.display.max_columns = None
pd.set_option('display.max_columns', None)

# Add input as import path
sys.path.insert(0,'../input')

# Plot style
plt.style.use('fivethirtyeight')

# Import the data from the dataset
train_data = pd.read_csv('../input/train.csv',index_col='id')
test_data = pd.read_csv('../input/test.csv',index_col='id')

def simplify_fares(df):
    df.fare = df.fare.fillna(-0.5)
    bins = (-1, 0, 8, 15, 31, 1000)
    group_names = ['Unknown', '1_quartile', '2_quartile', '3_quartile', '4_quartile']
    categories = pd.cut(df.fare, bins, labels=group_names)
    df.fare = categories
    return df

def simplify_cabins(df):
    df.cabin = df.cabin.fillna('N')
    df.cabin = df.cabin.apply(lambda x: x[0])
    return df

def simplify_embarked(df):
    df.embarked = df.embarked.fillna('N')
    return df

def format_ticket(ticket):
    if not ticket.isdigit():
        return ticket.replace(".","").replace("/","").strip().split(' ')[0]
    else:
        return "X"
    
def simplify_ticket(df):
    df.ticket= df.ticket.apply(lambda x: format_ticket(x))
    return df

def family_size(df):
    df["fsize"] = df["sibsp"] + df["parch"] + 1
    return df
    
def format_name(df):
    df['lname'] = df.name.apply(lambda x: x.split(' ')[0])
    df['lname'].fillna(' ')
    df['nameprefix'] = df.name.apply(lambda x: x.split(' ')[1])
    df['nameprefix'].fillna(' ')
    return df


def drop_features(df):
    return df.drop(['name', 'lname', 'home.dest', 'body', 'boat'], axis=1)

def transform_features(df):
    df = simplify_fares(df)
    df = simplify_cabins(df)
    df = simplify_ticket(df)
    df = simplify_embarked(df)
    df = format_name(df)
    df = family_size(df)
    df = drop_features(df)
    
    return df

train_data = transform_features(train_data)
test_data  = transform_features(test_data)



from sklearn import preprocessing
def encode_features(df_train, df_test):
    features = ['fare', 'cabin', 'sex', 'ticket', 'nameprefix','embarked']
    df_combined = pd.concat([df_train[features], df_test[features]])

    for feature in features:
        print(feature)
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[feature])
        df_train[feature] = le.transform(df_train[feature])
        df_test[feature] = le.transform(df_test[feature])
    return df_train, df_test
print(train_data)
train_data, test_data = encode_features(train_data, test_data)

def fill_missing_data(df_train,df_test):
    features = ['age']
    df_combined = pd.concat([df_train[features], df_test[features]])
    df_imputer = preprocessing.Imputer()
    df_imputer.fit(df_combined[features])
    df_train[features] = df_imputer.transform(df_train[features])
    df_test[features] = df_imputer.transform(df_test[features])
    return df_train, df_test

train_data,test_data = fill_missing_data(train_data,test_data)

def get_X_Y_pair(df):
    features = df.columns.values
    x_features = [f for f in features if f!='survived']
    return df[x_features], df['survived']

def scale_data(df_train, df_test):
    df_combine = pd.concat([df_train, df_test])
    features = df_train.columns.values
    scaler = preprocessing.StandardScaler()
    scaler.fit(df_combine)
    return scaler.transform(df_train), scaler.transform(df_test)

x_train, y_train = get_X_Y_pair(train_data)
x_test, y_test = get_X_Y_pair(test_data)

#not pandas after this
x_train, x_test = scale_data(x_train,x_test)

import joblib
joblib.dump((x_train,y_train),"traindata.pkl")
joblib.dump((x_test, y_test), "testdata.pkl")

#import _pickle as pkl
#pkl.dumps((x_test, y_test), open("testdata.pkl","w"))
#pkl.dumps((x_train, y_train), open("traindata.pkl","w"))

      pclass  survived     sex   age  sibsp  parch   ticket        fare cabin  \
id
277        1         1  female   NaN      1      0       PC  4_quartile     B
562        2         1  female  30.0      0      0        X  2_quartile     N
111        1         1  female  24.0      3      2        X  4_quartile     C
930        3         0    male   NaN      1      0        X  1_quartile     N
841        3         0  female  17.0      0      0      AQ3  1_quartile     N
585        2         0    male  27.0      1      0        X  3_quartile     N
609        3         0    male  26.0      0      0        X  2_quartile     N
540        2         1  female   2.0      1      1        X  3_quartile     N
1075       3         0    male  23.0      0      0        X  2_quartile     N
390        2         0    male  17.0      0      0      SOC  4_quartile     N
921        3         0    male   NaN      0      0        X  1_quartile     N
339        2         1    male   1.0      2      1        X  4_quartile     F
155        1         1  female  52.0      1      1        X  4_quartile     B
564        2         1  female  40.0      0      0        X  2_quartile     N
694        3         0    male  19.0      0      0        X  1_quartile     N
1028       3         1  female   NaN      1      0        X  3_quartile     N
1184       3         0    male   NaN      2      0        X  3_quartile     N
633        3         0    male  20.0      0      0        X  1_quartile     N
907        3         0  female  20.0      1      0        X  2_quartile     N
426        2         0    male  30.0      0      0        X  2_quartile     N
1210       3         0    male  40.0      1      4        X  3_quartile     N
257        1         1  female  35.0      1      0        X  4_quartile     C
474        2         0    male  31.0      0      0       CA  2_quartile     N
439        2         0    male  49.0      1      2        X  4_quartile     N
9          1         0    male  71.0      0      0       PC  4_quartile     N
948        3         0    male   NaN      0      0        X  1_quartile     N
762        3         1    male   1.0      1      2       CA  3_quartile     N
802        3         0    male   NaN      0      0        X  1_quartile     N
482        2         1  female  17.0      0      0       SC  2_quartile     N
893        3         0    male  29.0      0      0        X  1_quartile     N
...      ...       ...     ...   ...    ...    ...      ...         ...   ...
408        2         0    male  18.0      0      0       CA  2_quartile     N
87         1         1    male  27.0      0      0        X  3_quartile     N
810        3         0    male  16.0      1      3       WC  4_quartile     N
276        1         0    male  57.0      1      0       PC  4_quartile     B
751        3         0    male  25.0      0      0        X  1_quartile     N
550        2         1  female  24.0      2      3        X  3_quartile     N
231        1         1    male  52.0      0      0        X  3_quartile     C
879        3         0    male   NaN      0      0        X  1_quartile     N
896        3         0    male  49.0      0      0     LINE     Unknown     N
835        3         0    male   NaN      0      0        X  2_quartile     N
752        3         0    male  24.0      2      0       A4  3_quartile     N
984        3         1  female   NaN      0      0        X  1_quartile     N
163        1         1  female  35.0      1      0        X  4_quartile     N
1063       3         0    male  41.0      0      0  SOTONO2  1_quartile     N
29         1         1    male  28.0      0      0        X  3_quartile     C
200        1         0    male  46.0      0      0        X  4_quartile     C
285        1         0    male  67.0      1      0       PC  4_quartile     C
1267       3         0  female  30.0      1      1        X  3_quartile     N
783        3         1    male  24.0      0      0     SOPP  1_quartile     N
1074       3         0    male   NaN      0      0        X  1_quartile     N
1087       3         0    male  28.0      0      0        X  1_quartile     N
982        3         0    male   NaN      0      0        X  1_quartile     N
677        3         0    male  26.0      0      0        X  1_quartile     N
977        3         0    male  20.5      0      0       A5  1_quartile     N
35         1         1  female  45.0      0      0       PC  4_quartile     N
626        3         0  female  38.0      4      2        X  1_quartile     N
640        3         0    male   9.0      4      2        X  4_quartile     N
845        3         1  female  24.0      1      0   STONO2  3_quartile     N
1291       3         0    male   NaN      0      0        X  2_quartile     N
639        3         0    male   5.0      4      2        X  4_quartile     N

     embarked nameprefix  fsize
id
277         C       Mrs.      2
562         Q      Miss.      1
111         S      Miss.      6
930         Q        Mr.      2
841         Q      Miss.      1
585         S        Mr.      2
609         S        Mr.      1
540         S      Miss.      3
1075        S        Mr.      1
390         S        Mr.      1
921         S        Mr.      1
339         S    Master.      4
155         S       Mrs.      3
564         S      Miss.      1
694         Q        Mr.      1
1028        Q      Miss.      2
1184        C        Mr.      3
633         S        Mr.      1
907         S      Miss.      2
426         S        Mr.      1
1210        S        Mr.      6
257         C       Mrs.      2
474         S        Mr.      1
439         S        Mr.      4
9           C        Mr.      1
948         Q        Mr.      1
762         S    Master.      4
802         Q        Mr.      1
482         C      Miss.      1
893         S        Mr.      1
...       ...        ...    ...
408         S        Mr.      1
87          S        Mr.      1
810         S        Mr.      5
276         C        Mr.      2
751         S        Mr.      1
550         S       Mrs.      6
231         S     Major.      1
879         S        Mr.      1
896         S        Mr.      1
835         S        Mr.      1
752         S        Mr.      3
984         Q      Miss.      1
163         S       Mrs.      2
1063        S        Mr.      1
29          S        Mr.      1
200         C        Mr.      1
285         S        Mr.      2
1267        S      Impe,      3
783         S        Mr.      1
1074        Q        Mr.      1
1087        S        Mr.      1
982         S        Mr.      1
677         S        Mr.      1
977         S        Mr.      1
35          C      Miss.      1
626         S      Miss.      7
640         S    Master.      7
845         S       Mrs.      2
1291        S        Mr.      1
639         S    Master.      7

[654 rows x 12 columns]
fare
cabin
sex
ticket
nameprefix
embarked

TypeError: '<' not supported between instances of 'str' and 'float'